[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-configurations = "*"
django-debug-toolbar = "*"
raven = "*"
whitenoise = "*"
dj-database-url = "*"
"psycopg2-binary" = "*"

[dev-packages]
pytest = "*"
pytest-django = "*"
"flake8" = "*"
coverage = "*"
pre-commit = "*"
isort = "*"
pydocstyle = "*"
relint = "*"

[requires]
python_version = "3.6"
